warzywniak.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="warzywniak">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sklep">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="adres">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="miejscowosc"/>
                    <xs:element type="xs:string" name="ulica"/>
                    <xs:element type="xs:integer" name="numer_budynku"/>
                    <xs:element type="xs:string" name="kod_pocztowy"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pracownicy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pracownik" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dane">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="imie"/>
                                <xs:element type="xs:string" name="nazwisko"/>
                                <xs:element type="xs:string" name="stanowisko"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="plec" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="produkty">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="produkt" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nazwa"/>
                    <xs:element name="cena">
                      <xs:complexType>
                      <xs:simpleContent>
                      <xs:extension base="xs:byte">
			                <xs:attribute name="waluta" use="optional"/>
                            </xs:extension>
                       </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="waga">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="jednostka" use="optional"/>
                            <xs:attribute type="xs:string" name="opakowanie" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="rodzaj" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="rodzaj" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="kod" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="jednostka" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="kod" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>